<%- include("partials/header") -%>

<div class="userSoupContainer">
  <div class="row">
    <div class="col-lg-6">
      <img loading="lazy" class="userSoupImg" src="<%=soup.imgUrl %>" alt="Soup description">
    </div>
    <div class="userSoupDescription col-lg-6">
      <h1><%= soup.title %></h1>
      <!-- <h5><%= soup.description %></h5> -->
      <h3>Users rating: <i class="icon-star fas fa-star"></i><%= soup.stars %></h3>
      <h3>Price: $ <%= soup.price%></h3>
      <h5>Description: </h5>
      <h6>Pozole de res. Incluye aparte lechuga, oregano, chile, cebolla y aguacate.</h6>
      <h5>Quantity</h5>
      <button class="btn btn-outline-success userSoupBtnMin " type="button" name="button"> - </button>
      <strong class="userSoupQuantity">1</strong>
      <button class="btn btn-outline-success userSoupBtnMax " type="button" name="button">+</button>
      <form class="" action="/soups/<%=soup._id%>" method="post">
        <button type="submit" class="btn btn-lg btn-outline-success userSoupAddToCart">Add to cart</button>
      </form>

    </div>

  </div>

</div>
<%- include("partials/footer") -%>
